@tailwind base;
@tailwind components;
@tailwind utilities;
.text-fade-gradient {
  background: linear-gradient(to right, #161616 0%, #00000080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.bg-fade-gradient {
  background: linear-gradient(to right, #f3afff 0%, rgba(0, 0, 0.5, 0.5) 100%);
}
